BOT_TOKEN=123456789:replace_with_real_token
ADMIN_ID=123456789
BUSINESS_NAME=BarberFlow Studio
PORTFOLIO_URL=https://example.com/barber-portfolio
PRICE_LIST=Classic Haircut - <b>$25</b>\nBeard Trim - <b>$15</b>\nHaircut + Beard - <b>$35</b>
APP_TIMEZONE=Europe/Kyiv
BOOKING_DAYS_AHEAD=60
REMINDER_HOURS=24
CHANNEL_ID=0
CHANNEL_LINK=
WEB_ADMIN_PASSWORD=replace_with_a_long_password
WEB_SECRET_KEY=replace_with_at_least_32_random_characters
WEB_COOKIE_SECURE=false
# DATABASE_PATH=/opt/barberflow-bot/database.db
